#linesNormals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.ligneBus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px #ccc solid;
    width: 50px;
    cursor: pointer;
}

.ligneBus:hover {
    background-color: #e8e8e8;
}